<br/><br/>
  <h1 style="color: #6c757d;">Asignación</h1>
   <hr>

<!--tabla principal-->
<div class="row">
<div class="col-md-12">
 <div class="footer text-left">
    <%comment= link_to 'Regresar', incident_admin_path, class: "btn btn-info" %>
    <%comment= link_to 'Menú', vistareportes_path, class: "btn btn-info" %>
  </div><br/>

  <% flash.each do |name, msg| %>
      <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= msg%>
      </div>
    <% end %>
  
<h5 class="text-left"><kbd>Incidencia reportada</kbd></h5>
<div class="modal-content text-center">
<div class="table-responsive">
  <table class="table">
    <thead>
        <tr class="success btn-info active justify-content-center">
          <th colspan="2"><h5><b style="color: orange">Ticket</b></h5></th>
          <th><h6>Criticidad</h6></th>
          <th><h6>Aplicación</h6></th>
          <th><h6>Área</h6></th>
          <th><h6>ANS</h6></th>
          <th><h6>Enviada</h6></th>
          <th><h6>Descripción</h6></th>
          <th><h6>Archivo</h6></th>
          <th><h6>Estado</h6></th>
          <th><h6>Acciones</h6></th>
        </tr>
    </thead>

    <tbody>
      <tr class="text-center">
        <td colspan="2"><kbd><%= @incident.id%></kbd></td>
        <td><%= @incident.criticality.name %></td>
        <td><%= @incident.userapplication.applicationclient.application.name %></td>
        <td><%= @incident.area.name %></td>
        <td><%= @incident.userapplication.applicationclient.servicelevel %>hrs</td>
        <td><%= @incident.created_at%></td>
        <td><%= @incident.description%></td>
        <td>
           <% if @incident.picture_url %>
            <%= link_to @incident.picture_url, :target => '_blank', alt: 'Ver imagen' do %>
              <%= image_tag "/img/gallery_24.png", :title=>"Ver" %>
            <% end %>
            <% end %>
         </td>
         <td><%= @incidentmanagement.state%></td>
         <td>
            <% if @incidentmanagement.state == "terminada" %> 
              <%= link_to aprobar_incident_path(@incidentmanagement.id), data: { confirm: 'Estas seguro de aprobar esta incidencia?', remote: false } do %>
                  <%= image_tag "/img/estado_activo_24.png", :title=>"Aprobar" %>
              <% end %>
            <%end%>|
            <% if @incidentmanagement.state == "terminada" %> 
            <%= link_to rechazar_incident_path(@incidentmanagement.id), data: { confirm: 'Estas seguro de rechazar esta incidencia?', remote: false } do %>
                <%= image_tag "/img/estado_falso_24.png", :title=>"Rechazar" %>
            <% end %>
          <%end%>
         </td>
       </tr>
    </tbody>
  </table>
</div>
</div>
<!--tabla principal-->
<br/>

<!--tabla imagen reporte-->
<div class="row">
<div class="col-sm-7">
<h5 class="text-left"><kbd>Archivo gestión incidencia</kbd></h5>
<div class="modal-content text-center">
<label class="form-group">
  <tbody>
     <br/>
       <figure class="figure">
       <%= image_tag(@incidentmanagement.picture_url.to_s, class: 'figure-img img-fluid rounded') if @incidentmanagement.picture? %>
         <% if @incidentmanagement.picture_url %>
          <%= link_to @incidentmanagement.picture_url, :target => "_blank", alt:"Ver imagen" do %>
            <p>Ver imagen</p>
           <%end%>
        <%end%>
       </figure>
       <br/>
  </tbody>
</label>
</div>
</div>
<!--tabla imagen-->

<!--<div class="col-md-5">
   The Modal 
    <div class="modal-dialog" style="position: initial; right:14px; z-index:9999;">
    <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><kbd>Registrar</kbd></h4>
    </div>
<!-- Modal body
  <div class="modal-body">
    <div class="modal-content tabcontent">
       <div class="dialog kbd1">
        <%comment= simple_form_for(@incident, html: { multipart: true }) do |f| %>
        <%comment= f.error_notification %>
        <%comment= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%comment= f.hidden_field :incident_id, :value => @incident.id%>
        <%comment= f.hidden_field :state, :value => true%>

 <form>
    <figcaption class="figure-caption">
      <%comment= f.association :userapplication, collection: Userapplication.where(user_id: current_login.id).includes(:applicationclient), label_method: :lista_appclient %>
    </figcaption>

    <figcaption class="figure-caption">
       <%comment= f.association :area %>
    </figcaption>

    <figcaption class="figure-caption">
       <%comment= f.association :criticality %>
    </figcaption>

    <figcaption class="figure-caption">
        <%comment= f.label :state %>
        <%comment= f.select :state, options_for_select([['Activo', true]]) %>
    </figcaption>

    <label></label>
    <figcaption class="figure-caption">
      <%comment= f.input :description, placeholder: 'Describe la incidencia claramente.' %>
    </figcaption>
    
     <figcaption class="figure-caption">
      <%comment= f.label :picture %>
     </figcaption>

     <figcaption class="figure-caption">
       <%comment= f.file_field :picture %>
       <%comment= f.hidden_field :picture_cache %>
      </figcaption>
    
  <figcaption class="figure-caption">
     <%=f.input :user_id, :as => :hidden, :input_html => { :value => "#{current_login.id}" }%>
  </figcaption>

  <%comment= f.submit 'Actualizar', method: :edit, data: { confirm: 'Desea actualizar la incidencia' }, class:"btn btn-info btn-md"%>
 
 </form>
 <% end %>
     </div>
   </div>
</div>
</div>
</div>
</div>
</div>-->