<br/><br/>
  <h1 style="color: #6c757d;">Archivos</h1>
   <hr>

<!--tabla principal-->
<div class="row">
  <div class="col-md-12 col-sm-6 col-xs-2">
    <div class="footer text-left">
        <%= link_to 'Regresar', edit_incident_path(@incidentmanagement), class: "btn btn-info" %>
      </div><br/>

      <% flash.each do |name, msg| %>
            <div class="alert alert-info alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <%= msg%>
            </div>
          <% end %>
                      
    <!--tabla imagen gestion-->
      <h5 class="text-left"><kbd>Archivos gestión incidencia</kbd></h5>
        <div class="modal-content text-center">
          <label class="form-group">
              <!--&nbsp; &nbsp;-->
                <%comment= link_to edit_incidentmanagement_path(@incidentmanagement) do %>
                  <%= image_tag "/img/edit_24.png", :title=>"Editar" %>
                 <% end %>
                <tbody>
                    <br/>
                    <!--<figure class="figure">
                      <% (0...@incidentmanagement.images.count).each do |image| %>
                        <%= link_to @incidentmanagement.images[image] do %>
                          <%= image_tag "/img/file2_128.png", :title=>"Ver documento" %>
                        <%end%>
                      <%end%>
                    </figure>-->

                    <figure class="figure">
                        <% (0...@incidentmanagement.images.count).each do |image| %>
                          <%= image_tag(@incidentmanagement.images[image], class: 'figure-img img-fluid rounded', title:"Click derecho para ver imagen") %>
                           <%end%>
                    </figure>

                  </tbody>
              </label>
          </div>
        </div>
    <!--tabla imagen-->