<br/><br/>
  <h1 style="color: #6c757d;">Consulta incidencias</h1>
  <hr>

<div class="footer">
    <%comment= link_to 'Menú', vistareportes_path, class: "btn btn-info" %>

     <div class="form-group">
       <%comment= form_tag(incidents_path, class:"form-inline" , method: :get) do %>
       <input type="text" name="q" class="form-control" placeholder="Buscar por área o aplicación" type="text" value="<%= params[:q] %>">
     </div>
   <%end%>
</div>

<% flash.each do |name, msg| %>
      <div class="alert alert-info alert-dismissible">
      <h5>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= msg%>
        </h5>
      </div>
    <% end %>

      <h5 class="text-left"><kbd>Listado incidencias reportadas</kbd></h5>
        <div class="modal-content text-center">
          <div class="table-responsive">
            <table class="table table-default table-hover">
              <thead>
                <div class="row">
                  <tr class="success btn-info active justify-content-center">
                    <th colspan="3"><h5><b style="color: orange">Ticket</b></h5></th>
                    <th><h6>Aplicación</h6></th>
                    <th><h6>Área</h6></th>
                    <th><h6>Operador</h6></th>
                    <th><h6>Nivel criticidad</h6></th>
                    <th><h6>ANS</h6></th>
                    <th><h6>Enviada</h6></th>
                    <th><h6>Descripción</h6></th>
                    <th><h6>Estado</h6></th>
                    <th><h6>Acciones</h6></th>
                  </tr>
                </div>
              </thead>

              <% @incidentmanagements.each do |incidentmanagement| %>

              <tbody>
                 <div class="row">
                   <tr class="justify-content-center figure-caption">
                      <td colspan="3"><h6><kbd><%= incidentmanagement.incident.id %></kbd></h6></td>
                      <td><%= incidentmanagement.incident.userapplication.applicationclient.application.name %></td>
                      <td><%= incidentmanagement.incident.area.name %></td>
                      <td><%= incidentmanagement.user.name %></td>
                      <td><%= incidentmanagement.incident.criticality.name %></td>
                      <td><%= incidentmanagement.incident.userapplication.applicationclient.servicelevel %>hrs</td>
                      <td>
                          <%= incidentmanagement.incident.created_at.in_time_zone.strftime('%d/ %m/ %Y || %T') %>
                          <p> Hace
                          <%= time_ago_in_words(incidentmanagement.incident.created_at.in_time_zone.strftime('%d/ %m/ %Y %T')) %>
                          </p>
                      </td>
                      <td><%= incidentmanagement.incident.description %></td>
                      <td>
                    
                          <% if incidentmanagement.state == "abierta" %>              
                            <p style="color:#c82333;"><b>Abierto</b></p>
                          <%end%>
                          <% if incidentmanagement.state == "gestionando" %>              
                                <p style="color:#c82333;"><b>Gestionando</b></p>
                          <%end%>
                          <% if incidentmanagement.state == "terminada" %>              
                            <p style="color:#c82333;"><b>Gestionando</b></p>
                          <%end%>
                          <% if incidentmanagement.state == "aprobada" %>              
                            <p style="color:#c82333;"><b>Gestionando</b></p>
                          <%end%>
                          <% if incidentmanagement.state == "cerrada" %>
                            <p style="color:#218838;"><b>Cerrado</b></p>
                            <%end%> 
                      </td>
                      <td>
                          <%= link_to edit_incident_path(incidentmanagement) do %>
                          <%= image_tag "/img/ver_24.png", :title=>"Ver" %>
                          <% end %>
                      <!--&nbsp;--> 
                          <%comment= link_to incidentmanagement, method: :delete, data: { confirm: 'Are you sure?', remote: true } do %>
                          <%= image_tag "/img/eliminar_24.png", :title=>"Eliminar" %>
                          <% end %>
                      </td>
                    </tr>
                 </div>
               </tbody>
              <%end%>
           </table>
         </div>
       </div>
      <div id="spacing">
       <%= paginate(@incidentmanagements) %>
      </div>
